* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Inter, Noto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  background-color: #101010;
  color: #fff;
  min-width: 100%;
  min-height: 100%;
  padding: 3.5em 2.8em;
  overflow: hidden;
}

.backBase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2.3em;
  padding-right: 2.5em;
  border-radius: 48px;
  background: #252525;
  position: relative;
}

.back_topInfos {
  width: 100%;
  padding-top: 1.15em;
  padding-bottom: 1.15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0px;
  z-index: 2;
}

.top_side {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.top_side__curencies {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.curencies {
  width: 10em;
  font-weight: 500;
  margin-bottom: 10px;
}

.top_side__docs {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: underline;
  margin-right: 80px;
}

.back_conectnt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__navbar {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.app__navbar__part__logo {
  height: 100px;
  width: 300px;
  margin-top: 24px;
}

.app__navbar__part__logo img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 95%;
  height: 95%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

.logo:hover img {
  width: 100%;
  height: 100%;
}

.navbar__part__auth {
  position: relative;
  height: 50px;
}

.search {
  background: #252525be;
  height: 50px;
  width: 40%;
  border: 1px solid white;
  padding: 15px;
  border-radius: 15px;
}

.search_imegn {
  margin-top: -5px;
  font-size: 30px;
}

.search_box {
  min-width: 95%;
  max-height: 50vh;
  overflow: auto;
  position: absolute;
  top: 47.5px;
  z-index: 5;
  border-radius: 15px;
  background: #252525c0;
}

.search_box_item {
  font-size: 1.2em;
  margin: 20px 30px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search_box_item a {
  display: inline-block;
  margin-left: 20px;
}

.search_box_item::before {
  content: "";
  background-image: url(/imj/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 40px;
}

.navbar__part__auth__search {
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__part__auth__search input {
  background: #252525;
  font-size: 16px;
  color: #fff;
  width: 100%;
}

.navbar__part__auth__bar {
  overflow: hidden;
  font-size: 16px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: relative;
  z-index: 3;
}

.navbar__part__auth__bar input {
  margin: 5px;
}

.navbar__part__auth__bar:hover {
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.app__slider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.app__slider__content {
  width: 100%;
  max-height: 530px;
  border: 1px solid #fff;
  overflow: auto;
  border-radius: 15px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

a {
  color: #fff;
}

/*a:hover {
    font-size: 1.01em;
    color: rgb(223, 210, 138);
}*/
.slider__token__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.slider__token__conteiner p {
  margin: 5px 0px;
}

.noda_conteiner {
  width: 10em;
  height: 10em;
  margin: 10px 20px;
  position: relative;
}

.noda {
  width: 10em;
  height: 10em;
  padding: 5px;
  background: rgba(0, 0, 0, 0.76);
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

/*.noda_big {
    transform: scale( 2);
    padding: 5px;
    background: url(/imj/token_fons.png);
    border: 1px solid black;
    border-radius: 15px;
     box-shadow: 2px 2px 12px 2px black;
    position: fixed;
    top: 20em;
    left: 22em;
    z-index: 5;
    transition: all 1s ease 0s;
    overflow: hidden;
}*/
.noda_big_back {
  display: none;
}

.noda_big {
  width: 140%;
  height: 180%;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 12px 2px black;
          box-shadow: 2px 2px 12px 2px black;
  position: relative;
  left: -20px;
  z-index: 5;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  overflow: hidden;
}

.noda_big .noda_big_back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  padding: 15px;
  background: url(/imj/token_fons.png);
  display: block;
  position: relative;
  top: -110px;
  left: 0px;
}

.app__slider__rocket {
  width: 100min;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 40%;
  z-index: 1;
  -webkit-animation-name: rocet_rotete_animashion;
          animation-name: rocet_rotete_animashion;
  -webkit-animation-duration: 145s;
          animation-duration: 145s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.app__slider__rocket img {
  width: 100px;
  height: 100px;
  opacity: 0.1;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

@-webkit-keyframes rocet_rotete_animashion {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rocet_rotete_animashion {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.app__desctiption__asteroids {
  width: 100%;
  position: absolute;
  top: 200px;
  left: 0px;
  opacity: 0.2;
}

.desctiption__asteroids:nth-child(1) {
  position: relative;
  top: 2%;
  left: 5%;
}

.desctiption__asteroids:nth-child(2) {
  position: relative;
  top: 36%;
  left: 14%;
}

.desctiption__asteroids:nth-child(3) {
  position: relative;
  top: 16.7%;
  left: 73%;
}

.desctiption__asteroids:nth-child(4) {
  position: absolute;
  top: 2.7%;
  left: 72%;
}

.desctiption__asteroids:nth-child(5) {
  position: relative;
  top: 69.7%;
  left: 41%;
}

.desctiption__asteroids:nth-child(6) {
  position: relative;
  top: 71%;
  left: 50%;
}

.desctiption__asteroids:nth-child(7) {
  position: relative;
  top: 69%;
  left: 59%;
}

.desctiption__asteroids:nth-child(8) {
  position: relative;
  top: 0.73%;
  left: 68%;
}

.desctiption__asteroids:nth-child(9) {
  position: relative;
  top: 16.4%;
  left: 77%;
}

.desctiption__asteroids:nth-child(10) {
  position: relative;
  top: 15%;
  left: 66%;
}

.desctiption__asteroids {
  max-width: 300px;
  height: 300px;
  position: relative;
  z-index: 1;
}

.aseroid-clock {
  width: 100px;
  height: 100px;
  -webkit-animation-name: rotete_animashion;
          animation-name: rotete_animashion;
  -webkit-animation-duration: 145s;
          animation-duration: 145s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotete_animashion {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(100%, 100%);
            transform: rotate(360deg) translate(100%, 100%);
  }
}

@keyframes rotete_animashion {
  0% {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
            transform: rotate(0deg) translate(0px, 0px);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(100%, 100%);
            transform: rotate(360deg) translate(100%, 100%);
  }
}

.aseroid-in-clock {
  -webkit-animation-name: rotete_animashion;
          animation-name: rotete_animashion;
  -webkit-animation-duration: 115s;
          animation-duration: 115s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.app__desctiption__socials {
  width: 100%;
  max-height: 60px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.desctiption__socials {
  width: 60px;
}

.desctiption__socials img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

.app__desctiption__backed {
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  margin-bottom: -20px;
}

.app__desctiption__evmos {
  height: 200px;
}

.app__desctiption__evmos img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.back_footer {
  position: relative;
  z-index: 2;
  color: white;
  width: 100%;
  min-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 16px;
  line-height: 20px;
}

.back_footer a {
  color: #fff;
  text-decoration: underline;
}

.footer_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer_column__logo {
  height: 100px;
  width: 300px;
}

.footer_column__logo img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 95%;
  height: 95%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

@media (max-width: 769px) {
  .navbar__part__auth {
    height: 150px;
  }
  .navbar__part__auth__bar {
    position: relative;
    top: 75px;
  }
  .search {
    width: 100%;
  }
  .app__desctiption__backed {
    font-size: 24px;
  }
  .back_topInfos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 423px) {
  .app__navbar__part__logo {
    margin-left: -30px;
  }
}

@media (max-width: 373px) {
  .app__navbar__part__logo {
    margin-left: -40px;
  }
}
